.nav {
  position: fixed !important;
  z-index: 250;
  top: 0;

}

.position-sticky {
  top: 0;
  z-index: 50;
}

.btn-login:hover {
  background-color: #198754 !important;
  transition: .5s;
}

.btn-ChekOut:hover {
  background-color: #198754 !important;
  transition: .5s;
}

.dd {

  justify-content: center;

}

.nav-item a {
  transition: .5s;

}

.nav-item a:hover {
  color: #198754;
}

.collapse i {
  cursor: pointer;
  transition: .3s;
}

.collapse i:hover {
  color: #198754;
}

.img {
  /*  */
  height: 431px;
  object-fit: cover;
  width: 70%;


}

@media(max-width:992px) {
  .img {
    width: 100%;
    background-position: center;

  }
}

/* new section 3*/

.section2 {
  margin-top: 10%;
}

.nav-link {
  cursor: pointer;
}